@font-face {
    font-family: "Roboto-Bold";
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Plaster-Regular";
    src: url("../fonts/Plaster-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Playball-Regular";
    src: url("../fonts/Playball-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LuckiestGuy-Regular";
    src: url("../fonts/LuckiestGuy-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
